body{
  background-image: url("tree.jpg")
}
.App {
  text-align: center;
 
}
.img {
  width:800px;
  height:500px;
}

.hi:hover {
  border: none;
  color:red;
  cursor: pointer;
}
li:nth-child(2) {
  background:pink
}

@media screen and (max-width:375px) {    
  img {
    width:500px;
    height:200px;
 }
}


